<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		{% load static %}
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/DiaryStyle.css' %}">
		<script type="text/javascript" src="{% static 'script/DiaryEntry.js' %}"></script>
		<title>Diary Web App</title>
	</head>

	<body>
		<div class="main-container">
			<div class="date-time-container">
				<p class="entry-date" id="entryDate">{{entryDate}}</p>
				<div class="entry-day-year">
					<p id="entryDay">{{entryDay}}</p>
					<p id="entryMonthYear">{{entryMonth}} {{entryYear}}</p>
				</div>
				
				<p class="entry-time" id="entryTime">{{entryTime}}</p>
			</div>
		
			<div class="entry-form-container">
				<form id="entryForm" action="{% url 'editEntry' form.instance.id %}" method="post">
					{% csrf_token %}
					{{ form }} 
					
					<div class = "form-button-container">
					
						{% if form.instance.lastUpdated %}
						<p id="lastUpdatedLabel" >Last updated: 
								{{form.instance.lastUpdated |date:"d M Y"}} at {{form.instance.lastUpdated |time:"H:i"}}</p>
						{%endif%}
						<button class='diaryBtn' type="submit">Update entry</button>
					</div>
				</form>				
			</div>
		
		</div>
	</body>
</html>