<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		{% load static %}
		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/DiaryStyle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/EntriesListStyle.css' %}">
		<script type="text/javascript" src="{% static 'script/DiaryEntry.js' %}"></script>
		<title>Diary Web App</title>
	</head>

	<body>
		<div class="main-container">
			<p id="entries-heading">Entries List</p>
			<div class="menu-container">
				<button class='diaryBtn'>New Entry</button>	
			</div>
			
			<div class="entries-container">
				{% for entry in entries %}
				<div class="entry-item">
					<div class="entry-item-details">
						<div class="item-time-date">
							<p id="day">{{entry.dateTime |date:"D" }}</p>
							<p id="date">{{entry.dateTime |date:"d"}}</p>
							<p id="month">{{entry.dateTime |date:"M"}}</p>
							<p id="time">{{entry.dateTime |time:"H:i"}}</p>
						</div>
						
						<div class="item-detail">
							<p class="item-detail-title">{{entry.title}}</p>
							<div class="divider"></div>
							<p class="item-detail-text">{{entry.entryText}}</p>
								
							{% if entry.lastUpdated %}
							<p id="lastUpdated">Last updated: {{entry.lastUpdated |date:"d M Y"}} at {{entry.lastUpdated |time:"H:i"}}</p>
							{% endif %}
						</div>
						
						<div class="item-options">
							<button class="diaryBtn">X</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>