@CHARSET "ISO-8859-1";

/* Layout debug */
* {
/* 	border-color: red;
	border-style: dashed;
	border-width: 1px; */
}
  
.main-container {
	width: 500px;
	border-style:solid;
	border-color: #AAAAAA;
	border-width: 1px;
	background-color: #fdfdfd; 
	box-shadow: 2px 2px 5px #BBBBBB;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
}

.date-time-container {
	display: flex;
	padding: 10px 10px 10px 10px;
	margin-bottom:-5px;
}

.entry-day-year{
	margin-right: auto;
}

.entry-day-year p {
	margin: 0px;
}

.entry-date {
	margin:0px;
	margin-right: 20px;
	font-size: 30px;
}

.entry-time{
	margin: 0px;
}

.entry-form-container {
	/* overflow: auto; */
	padding: 10px 15px 10px 10px;
}

#entryMonthYear {
	text-transform: uppercase;
}

.entry-form-container input, textarea{
	display:block;
	width: 100%;
	margin-bottom: 10px;
	
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; 
	box-sizing:border-box;
}
 
input, textarea, button, p{
	font-family: 'Nunito Sans', sans-serif;
}

input:focus, textarea:focus{
	outline: none !important;
	border-color: #80D3C1;
	box-shadow: 0 0 5px #80D3C1;
}


.entry-form-container button {
	margin-left: auto;
}

.form-button-container {
	display: flex;
}

#lastUpdatedLabel{
	margin-top: 4px;
	margin-bottom: 6px;
	font-size: 11px;
}

.diaryBtn {
	border-style: solid;
	border-width: 1px;
	border-color: #AAAAAA;
	background-color: white;
	cursor: pointer;
	padding: 7px;
}

.diaryBtn:hover {
	background-color: #80D3C1;
	color: white;
}

.diaryBtn:active{
	background-color: #41bca0;
	color: white;
}