/** 
	Styles for the diary web app entries list view
**/
@CHARSET "ISO-8859-1";



/* debug */

*{
	border-color: red;
/* 	border-style: dashed;
	border-width: 1px;
 */}

.main-container {
	width: 800px;
} 

#entries-heading {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	padding-left: 10px;	
}

.menu-container {
	padding: 10px;
	margin-bottom: 10px;
}

.entries-container {
	height: 400px;
	padding: 10px;
	font-size: 12px;
	overflow-y: auto;
}

.entry-item{
/* 	height: 70px; */
	background-color: white;
	border-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
 	box-shadow: 1px 1px 5px #CCCCCC; 
	margin-top: -1px;
	margin-bottom: 7px;
	padding: 10px;
	overflow: hidden;
}

.entry-item-details{
	display: flex;
}

.entry-item p {
/* 	margin: 0px; */ 
}

.item-time-date{
	text-transform: uppercase;
	text-align: center;
	width:50px;	
	line-height: 10px;
}

#day{
	margin-bottom: 10px;
	font-size: 16px;
}
#date {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 25px;
}

#month{
	margin-top: 10px;
	font-size: 15px;
}

#time {
	font-size: 16px;
}

#time{
	margin-top: 25px;
}

.item-detail{
	width: 100%;
	margin-right: auto;
	margin-left: 20px;
	font-size: 14px;
	
	/* border-style: dashed;
	border-color: red;
	border-width: 1px; */
}

/*.item-detail * {
	border-style: dashed;
	border-color: blue;
	border-width: 1px;
}*/


.item-detail-text{
 	height: 58px;
 	white-space: wrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
	margin-top: 5px;
}

#lastUpdated{
	text-align: right;
	font-size: 11px;
	margin-bottom: 0px;
	font-style: italic;
}

.item-options{
	width: 30px;
	margin-left: 4px;
}

.item-detail-title{
	font-weight: bold;	
	margin-top: 9px;
	margin-bottom: 0px;
}

.item-options button{
	
}

.divider{
    width:auto;
    height:5px;
    display:block;
}